
<div class="container">
  {{#each products}}
    <div class="card">
      <div class="card-header">
        <img class="cardImage" src={{this.thumbnail}} alt="" />
      </div>
      <div class="card-body">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <h3>${{this.price}}</h3>
        <h3>{{this.category}}</h3>
        <a href="#" class="btn">Buy now!</a>
      </div>
    </div>
  {{/each}}
</div>